html, body {
  margin: 0;
  background-color: #212121; /* Or your dark theme background color */
  font-family: 'Inter', sans-serif !important ; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
